<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MySpot</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <!-- this is the start of content -->
    <div id="navbar">
      <ul>
        <a href="./signup">{{nav1}}</a>
        <a href="./login">{{nav2}}</a>
      </ul>
    </div>
    <h1>{{greeting}}</h1>
    <h2>{{welcome}}</h2>
  </body>
</html>