<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MySpot</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- this is the start of content -->
    <div id="navbar">
      <ul>
        <a href="./signup">{{nav1}}</a>
        <a href="./login">{{nav2}}</a>
      </ul>
    </div>
    <h1>{{nav2}}</h1>
    <div id="formdiv">
      <form id="form">
        <label for="EMAIL">Email:</label>
        <input id="EMAIL" type="email" />
        <label for="PASS">Password:</label>
        <input id="PASS" type="password" />
        <label for="CONPASS">Confirm Password:</label>
        <input id="CONPASS" type="password" />
        <button id="SUBMIT">Submit</button>
      </form>
      <p id="ERROR"></p>
    </div>
  </body>
</html>